<% include partials/header %>

<div class="container">
    <div class="row">
        <div class="page-title">
            <h1>Admin Login</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form id="admin-login-form">
                <div class="row">
                    <div class="col-12 col-md-3">Username</div>
                    <input type="textbox" class="col-9 col-md-6" required />
                </div>
                <div class="row">
                    <div class="col-12 col-md-3">Password</div>
                    <input type="password" class="col-9 col-md-6" required />
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="button" id="admin-btn" class="btn btn-light">
                            Log In
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<% include partials/footer %>
