<% include partials/header %>

    <div class="container panel-content">
        <h1>Biography</h1>
        <div id="bio">
            <p>
                Saskatchewan born bass-baritone Brenden Friesen has captured audiences with 
                his powerful resonance, exceptional diction, enormous comedic presence, and 
                incredible interpretation of text (Opera Canada). Brenden is a current 
                member of l'Opéra de Montréal Atelier Lyrique and holds an MMus Opera degree 
                from the University of Toronto, where he studied with Professor Lorna MacDonald. 
            </p>
            <p>
                Brenden recently made his debut with Opéra de Montréal in Verdi’s Rigoletto 
                as Count Ceprano. Recent performances include the role of Colline in 
                Saskatoon Opera's production of Puccini’s La bohème, as well as with 
                Highlands Opera Studio in Haliburton Ontario. Brenden has undertaken such 
                roles as Leporello and Il Commendatore in UofT Opera’s production of 
                Mozart’s Don Giovanni, Masetto in Don Giovanni (Saskatoon Opera), Sarastro 
                in Mozart’s Die Zauberflöte, Imeneo in Händel's Imeneo (UofT Opera), The 
                Police Chief in the 2018 UofT Student Composer Project opera Vengeance, and 
                Jupiter in Offenbach's Orphée aux enfers (UofT Opera) under the baton of 
                sensational Canadian baritone Russell Braun during his UofT conducting debut.
            </p>
            <p>
                Upcoming performances include Masetto and Il Commendatore in a concert 
                version of Don Giovanni in Ottawa January 2019, Brahms’ Liebeslieder 
                Waltzes in February 2019, and the role of Ernest Hemingway in Ricky Ian 
                Gordon’s 27 in March 2019, as well as Blansac in an excerpt performance 
                of Rossini’s La scala di seta in June 2019.
            </p>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            $(".left-panel").css("background-image", 'url("/headshot3b.jpg")');
            $(".left-panel").css("background-position", "32.5% 2.5%");
            $(".home-link").addClass("home-link-light");
            $(".navbar-left").removeClass("navbar-light");
            $(".navbar-left").addClass("navbar-dark");
            $(".photographer").addClass("photographer-dark");
            $(".photographer a").text("Brent Calis Photography");
            $(".photographer a").attr("href", "http://www.brentcalisphotography.com");
        });
    </script>

<% include partials/footer %>