<% include partials/header %>

<div class="container panel-content">
    <h1>Calendar</h1>
</div>

<script>
    $(".left-panel").css("background-image", 'url("/headshot2b.jpg")');
    $(".left-panel").css("background-position", "22.5% 0%");
    $(".home-link").addClass("home-link-light");
    $(".navbar-left").removeClass("navbar-light");
    $(".navbar-left").addClass("navbar-dark");
    $(".photographer a").text("Brent Calis Photography");
    $(".photographer a").attr("href", "http://www.brentcalisphotography.com");
</script>

<% include partials/footer %>