<% include partials/header %>

    <div class="container panel-content">
        <h1>Brenden Friesen</h1>
        <h3><em>bass-baritone</em></h3>
        <div>
            <p>
                Saskatchewan born bass-baritone Brenden Friesen has captured audiences with 
                his powerful resonance, exceptional diction, enormous comedic presence, and 
                incredible interpretation of text (Opera Canada). Brenden is a current 
                member of l'Opéra de Montréal Atelier Lyrique and holds an MMus Opera degree 
                from the University of Toronto, where he studied with Professor Lorna MacDonald. 
            </p>
            <a href="/bio"><em>Read more...</em></a>
        </div>
        <div class="mt-5">
            <h4>
                Other Content...
            </h4>
        </div>
    </div>

    <script>
        $(".home-link").addClass("home-link-dark");
        $(".photographer").addClass("photographer-dark");
        $(".photographer a").text("Brent Calis Photography");
        $(".photographer a").attr("href", "http://www.brentcalisphotography.com");
    </script>

<% include partials/footer %>