
/*------------------/
/  GENERAL STYLING  /
/------------------*/

p {
    padding-top: 5px;
    line-height: 1.5;
    font-size: 18px;
}

a {
    font-size: 18px;
    color: #d9d9d9;
}

a:hover {
    color: #666666;
    text-decoration: none;

    transition: 0.075s;
    -webkit-transition: 0.075s;
    -moz-transition: 0.075s;
    -o-transition: 0.075s;
}

/*---------------/
/   LEFT PANEL   /
/---------------*/

.left-panel {
    background-image: url("../headshot.jpg");
    background-position: 35% 0%;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size: cover;
}

@media only screen and (max-width: 991px) {
    
}

.home-link {
    display: inline-block;
    border-radius: 5px;
    padding: 0 10px;

    transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -o-transition: 0.1s;
}

.home-link-dark {
    border-bottom: 3px solid #222222;
    color: #222222;
}

.home-link-dark:hover {
    text-decoration: none;
    color: #666666;
    border-bottom: 3px solid #666666;
}

.home-link-light {
    color: #ffffff;
    border-bottom: 3px solid #ffffff;
}

.home-link-light:hover {
    text-decoration: none;
    color: #dddddd;
    border-bottom: 3px solid #dddddd;
}

.nametag {
    width: 80%;
    height: 125px;
    position: absolute;
        top: 85%;
        left: 50%;
    margin-left: -40%;
    padding-top: 0.8em;
    background: rgba(0, 0, 0, 0.75);
    text-align: center;
    color: #d9d9d9;
    border-radius: 5px;
}

.nametag hr {
    border: 0;
    height: 2px;
    width: 80%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(146, 146, 146, 0.75), rgba(0, 0, 0, 0));
}

.photographer {
    text-align: right;
    padding: 3% 2%;
}

.photographer a {
    font-size: 80%;
}

.photographer-dark a {
    color: #222222;
    background: rgba(212, 231, 240, 0.5);
    border-radius: 2px;
}

.photographer a:hover {
    color: #999999;

    transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -o-transition: 0.1s;
}

#home-icon {
    font-size: 0.8em;
}

/*-----------/
/  NAV BAR   /
/-----------*/

.bg-none {
    background: none;
}

.nav-item {
    padding-right: 9px;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-toggler:active {
    outline: none;
    background: rgba(225, 225, 225, 0.75);
}

.navbar-dark .navbar-toggler:active {
    background: rgba(50, 50, 50, 0.75);
}

.dropdown-menu {
    margin-left: 75%;
    width: 25%;
}

.dropdown-menu-left {
    background: none;
    border: none;
    outline: none;

    transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -o-transition: 0.1s;
}

.dropdown-menu-right {
    background: rgba(13, 13, 13, 0.8);
    border: none;
    outline: none;
}

.dropdown-menu.collapsing {
    display:block;
}

.dropdown-menu.show {
    background: rgba(13, 13, 13, 0.8);
}

.dropdown-item {
    color: #d9d9d9;
}

.dropdown-item:hover {
    color: #d9d9d9;
    background: rgba(25, 25, 25, 0.8);
}

/*--------------/
/  RIGHT PANEL  /
/--------------*/

.right-panel {
    background: rgb(13, 13, 13);
    color: #d9d9d9;
}

.panel-content {
    margin-top: 15px;
}